// h1 {
//   color: aliceblue;
//   background: red;
// }
* {
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  background-color: black;
  min-width: 9;
}

#menu {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  #menu-list {
    position: relative;
    width: 42px;
    height: 42px;
    margin: 4px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 60%;
    }
  }

  #home {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: url(../img/logo/logo.png);
    border-radius: 50%;
    transition: 1s;
    box-shadow: 0px 0px 15px #333;
  }

  .des {
    position: absolute;
    left: 8px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 9px black;
  }
  img {
    width: 100%;
    box-shadow: 0px 0px 100px #2f1e1e;
  }

}

#ios {
  /* 滚动容器高度是视口高度 */
  display: none;
  position: absolute;
  top: 0;
  height: 100vh;
  /* 宽度为视口宽度 */
  width: 100vw;
  /* 不占用宽度的滚动条 */
  overflow-y: overlay;
  overflow-x: hidden;
  /* 关键一行 */
  perspective: 1px;
  min-width: 1500px;

  .pre-one {
    transform: translateZ(-6px) scale(7);
    .bg {
      filter: brightness(80%);
    }
    .header-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.27);
      z-index: 2;
      box-shadow: 0px 0px 0px;
    }
    #directionDetails {
      font-size: 0.5em;
    }

    sup {
      top: 0.5em;
      font-size: 90%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
      color: blanchedalmond;
    }

    .ios-box {
      position: fixed;
      top: 10%;
      left: 5%;

      h3 {


        font-size: xx-large;
        color: blanchedalmond;
      }
    }


  }

  .pre-two {
    transform: translate3D(0px, 1000px, -1px) scale(2);

    .cd-container.infor-font {
      font-size: 2em;
    }

    .cd-container {
      position: absolute;
      left: 50%;
      top: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      color: rgb(241, 191, 191);
      font-size: 2.5em;
      text-align: center;
    }

    .infor-font {
      font-size: 1.5em;
      color: #6d7584;
    }
  }

  .pre-three {
    transform: translate3D(0px, 1000px, 0px) scale(1);

    .cd-container.infor-font {
      font-size: 2em;
    }

    .cd-container {
      position: absolute;
      left: 50%;
      top: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      color: rgb(241, 191, 191);
      font-size: 2.5em;
      text-align: center;
    }

    .infor-font {
      font-size: 1.5em;
      color: #6d7584;
    }
  }

  img {
    width: 100%;
    box-shadow: 0px 0px 100px #2f1e1e;
  }

}


#machine-learning {
    display: none;
    position: absolute;
    top: 0;
    overflow-y: overlay;
    overflow-x: hidden;
    /* 开启透视 */
    perspective: 1px;
    height: 100vh;
    // transform: scale(0.5);
    .per-one {
        width:100%;
        transform: translateZ(-2px) scale(3);
        .bg {
            width: 100%;   
            filter: brightness(60%);
        }
        .header-font {
            position: absolute;
            z-index: 3;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%) scale(0.27);
        }
    }
    .per-two {
        width:100%;
        transform: translateZ(0px) scale(1);
        background-color: rgb(255, 245, 230);
        box-shadow: 0px 0px 100px #333;
        .txt-container {
            height: 800px;
            text-align: center;
            padding-top:100px;
            span {
                display: block;
                position: relative;
                font-size: 30px;
                color: #222;
                opacity: 0;
                line-height: 55px;
                transition: all 0.7s;
                top: 30px;
            }
        }
        img {
            width: 50%;
        }
    }
}

#detail-pages {
    svg {
        position: absolute;
        stroke: #fff;
        top: 50%;
        display: block;
        opacity: 1;
        transition: transform .5s cubic-bezier(.455, .03, .515, .955), 
                    opacity .5s cubic-bezier(.455, .03, .515, .955);
        cursor: pointer;
        &:hover{
            circle {
                transform: translate(80px);
                /* 神奇属性居然能设置 */
                // r:0; 
                opacity: 0;  
            }
            g {
                transform: translate(20px,9px);
            }
        }
        circle {
            fill: none;
            transform: translate(40px);
            transition: all .5s cubic-bezier(.455,.03,.515,.955);
        }
        g {
            transform: translate(10px,9px);
            transition: all .5s cubic-bezier(.455,.03,.515,.955);
            path {
                transform: translateX(43px);
                transition: all .5s cubic-bezier(.455,.03,.515,.955);
            }
            line {
                transition: all .5s cubic-bezier(.455,.03,.515,.955);
            }
        }
    }
    svg[data-left] {
        transform: translateY(-50%) scale(-1.3,1.3);
        left:10px;
    }
  
    svg[data-right] {
        transform:translateY(-50%) scale(1.3,1.3);
        right:10px;
    }
}
#detail-pages {
  position: relative;
}
#android {
  display: none;
  position: absolute;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 1px;
  height: 100vh;
  top: -24px;
  background: #333;
  .pers-one {
    transform: translate3d(0,0,-6px) scale(7);
    width: 100%;
    .one {
      filter: blur(1px);
    }
    .font-bg {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.27);
    }
  }
  img {
    width: 100%;
  }
  .pers-two {
    position: relative;
    box-shadow: 0 -8px #2e2e2e;
    transform: translate3d(0,200%,-2px) scale(3);
    width: 100%;
    .describe {
      right: 3%;
      top: 10%;
      color: #9ca8ab;
      width: 33%;
      .item {
        font-size: 24px;
        color: #9ca8ab;
       }
    }
  }
  .pers-three {
    position: relative;
    box-shadow: 0 -8px #383838;
    transform: translate3d(0,210%,0) scale(1);
    width: 100%;
    .describe {
      width: 23%;
      right: 38%;
      bottom: 0;
      border-radius: 10px 10px;
      box-shadow: 0 0 20px black;
      text-shadow: 2px 2px 9px black;
      padding: 20px;
      text-align: center;
      line-height: 38px;
      cursor: pointer;
      transition: 1s;
      color: black;
      background-color: #b3b3b3;
      &:hover {
        background-color: #2e2e2e;
        color: white;
      }
     
    }
    
  }
  .describe {
    position: absolute;
    z-index: 4;
    font-size: 24px;
    line-height: 48px;
  }
  
}
#detail-pages {
  #back-stage {
    // display: none;
    height: 100vh;
    width: 100vw;
    overflow-y: overlay;
    overflow-x: hidden;
    perspective: 1px;
    position: absolute;
    top:0;
    //每个大盒子的高度
    section {
      width: 100vw;
    }
    //第一个盒子
    .per-one {
      transform: translateZ(-3px) scale(4);
      overflow: hidden;
      img:nth-child(1) {
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 100px #2f1e1e;
      }
      .page-name {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-55%) scale(0.27);
      }
    }
    //第二个盒子
    .per-two {
      transform: translate3D(0px, 858px, -1px) scale(2);
      overflow: hidden;
      position: relative;
      //大图同一大小
      img {
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 100px #2f1e1e;
      }
      //详情文字
      .bcak-stage-content {
        position: absolute;
        right: 210px;
        top: 150px;
        text-align: center;
        width: 750px;
        height: 500px;
        overflow: hidden;
        p {
          position: absolute;
          font-size: 30px;
          color: #fff;
          line-height: 1.5;
        }
        //双数文字
        p:nth-child(2n) {
          right: -750px;
        }
        //单数数行
        p:nth-child(2n+1) {
          left: -750px;
        }
      }
      .write-box {
        display: none;
        width: 300px;
        height: 300px;
        position: absolute;
        right: 65%;
        top: 12%;
        background: url("../img/back-stage/javaicon.png") no-repeat;
        background-size: 100%;
      
        //svg动画
        @keyframes dash {
          from {
            stroke-dashoffset: 320;
          }
          to {
            stroke-dashoffset: 0;
            fill: none;
          }
        }
        #java {
          width: 300px;
          height: 300px;
          display: block;
          position: absolute;
          top: 0%;
          path {
            stroke-dasharray: 320;
            stroke-dashoffset: 0;
            animation: dash 3s ease infinite;
          }
        } 
      }  
    }
  }
}