// h1 {
//   color: aliceblue;
//   background: red;
// }
#menu {
  position: fixed;
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
    #menu-list {
      position: relative;
			width: 42px;
			height: 42px;
      margin: 4px;
      img{
				position: absolute;
				left: 0;
				top: 0;
				border-radius:60% ;
			}
    }
    #home{
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 50px;
      background: url(../img/logo/logo.png);
      border-radius: 50%;
      transition: 1s;
      box-shadow: 0px 0px 5px #333;
    }
    .des {
      position: absolute;
      left: 8px;
      font-weight: bold;
      color: white;
	    text-align:center; 
    	text-shadow:2px 2px 9px black;
    }

}
#front-end{
  display: none;
  background-color: #333;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top:0;//WHY
  height: 100vh;
  width: 100vw;
  overflow-y: overlay;
  overflow-x: hidden;
  perspective: 1px;
  // transform-style: preserve-3d;
  
  img{
    width: 100%;
    box-shadow: 0px 0px 100px #2f1e1e;
  }
  .per-one {
    transform: translateZ(-6px) scale(7);
    position: relative;
    display: flex;
    .title {
      width: 30%;
      position: absolute;
      top: 30%;
      left: 35%;
      //margin: auto;
      z-index: 9;
      box-shadow: none;
    }
  }
  .per-two {
    transform: translate3d(0px, 90%, -1px) scale(2);
  }
  .per-three {
    transform: translate3d(0px, 70%, 0px) scale(1); 
  }
}